html {
	/* font-size: 10px; */
}
.App {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #222831;
	cursor: default;
	font-family: 'Titillium Web', sans-serif;
	color: white;
}
.banner-container {
	display: flex;
	justify-content: center;
}

.cards-container {
	/* margin: auto; */
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 31rem;
	/* width: 26rem; small 26-31 */
	/* width: 38rem; medium 38-44*/
	/* width: 51rem; large 51-56 */
}
.button-container {
	margin: auto;
	margin-top: 0.85rem;
	display: flex;
	justify-content: space-evenly;
	width: 29rem;
}
h1 {
	font-size: 3.5rem;
	transition: all 0.2s ease-out;
}
h1:hover {
	letter-spacing: 1rem;
}
i {
	cursor: pointer;
	font-size: 4rem;
}
