html {
	/* font-size: 10px; */
}
.App {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #222831;
	cursor: default;
	font-family: 'Titillium Web', sans-serif;
	color: white;
}
.banner-container {
	display: flex;
	justify-content: center;
}

.cards-container {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 31rem;
	/* width: 26rem; small 26-31 */
	/* width: 38rem; medium 38-44*/
	/* width: 51rem; large 51-56 */
}
.buttons-container {
	display: flex;
	margin: auto;
	justify-content: space-evenly;
	align-items: center;
	width: 31rem;
	height: 6rem;
}
h1 {
	font-size: 3rem;
	transition: all 0.2s ease-out;
}
h1:hover {
	letter-spacing: 1rem;
}

i {
	font-size: 4rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

.fa-power-off {
	transition: 0.15s ease-in;
	-webkit-transition: 0.15s ease-in;
}

.fa-power-off:hover {
	color: red;
	text-shadow: 0px 0px 2rem #c54040;
	font-size: 5rem;
}
.main-settings-icon {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transition: 0.3s ease-in;
	-webkit-transition: 0.3s ease-in;
	color: darkgrey;
}

.main-settings-icon:hover {
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	font-size: 5em;
}
