.MessageModal {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: rgb(0, 0, 0, 0.5);
	transition: all 0.5s ease-out;
}

.message-box {
	/* margin-top: 8.1rem; */
	height: 27rem;
	width: 27rem;
	border-radius: 0.5rem;
	background-color: red;
	padding: 1.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* color: yellow; */
	transition: all 0.5s ease-out;
}

.modal-message h2 {
	font-size: 2.5rem;
}

.complete h2 {
	font-size: 4.3rem;
}
.play-again h3 {
	font-size: 2rem;
}
.message-modal-button-container {
	display: flex;
	margin-top: 1rem;
	padding: 0 8rem;
	justify-content: space-between;
}

.message-modal-button-container i {
	font-size: 4rem;
	cursor: pointer;
}

.fa-check {
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	transition: 0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
}
.fa-check:hover {
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	color: green;
}

.modal-message-icon {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transition: 0.3s ease-in;
	-webkit-transition: 0.3s ease-in;
}
.modal-message-icon:hover {
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	color: grey;
}

.time h2 {
	font-style: italic;
}
